<% 
  let date = new Date() 
  let year = date.getFullYear()
%>

<footer class="footer">
  <div class="container grid grid--all <% if (showFull) { %>grid--gap-xl<% } else { %>footer-s__gap<%}%>">
    <% if (showFull) { %>
    <div class="footer__col-one">
      <h4 class="type--caps type--bold type--white type--display type--xs type--s-margin">
        Company
      </h4>
      <%- include('../partials/menu-links', { container_class: "list", list_class: "list__item", list_text_class: "type--white type--xs", dataAttr: null, mainMenu: false }) -%>
    </div>
    <% if(infoDocs) { %>
    <div class="footer__col-two">
      <h4 class="type--caps type--bold type--white type--display type--xs type--s-margin">
        Info
      </h4>
      <ul class="list">
        <% infoDocs.forEach((docs, i) => { %>
          <li class="list__item">
            <a href="<%- docs.url %>" class="type--white type--xs" data-page-trigger>
              <%- docs.data.title %>
            </a>
          </li>
        <% })%>
      </ul>
    </div>
    <%}%>
    <div class="footer__form">
      <h4 class="type--caps type--bold type--white type--display type--xs type--s-margin">
        Join our newsletter
      </h4>
      <form data-subscription-form>
        <div class="input relative">
          <input type="email" placeholder="Enter your email" name="email" class="input__field input--has-icon-r">
          <div class="thumbnail input--icon-right" data-subscription-submit-btn>
            <%- include('../partials/svg/icons/24/arrow-right') -%>
          </div>
          <span class="input__line" data-input-line></span>
        </div>
        <div class="input__message">
          <p class="type--xs" data-input-message></p>
        </div>
        <input type="text" name="bot-field" id="bot-field" autocomplete="off" style="display: none;">
      </form>
    </div>
    <% } %>
    <div class="footer__socials flex gap--s flex--middle <% if (showFull) { %>footer-row--3-xl<%} %>">
      <%- include('../partials/display-socials') -%>
    </div>
    <div class="footer__signage <% if (showFull) { %>footer-row--3<%} %>">
      <span class="type--xs type--white">
        &copy;<%- year %>&nbsp;<%- siteDetails.data.brand_name %>
      </span>
    </div>

    <div class="footer__credits <% if (showFull) { %>footer-row--3<%} %>">
      <a href="https://lloydjamiebennett.co.uk/" target="_blank" class="type--xs type--white">
        Site by L.J.B
      </a>
    </div>
  </div>
</footer>
<% if (showFull) { %>
  <%- include('../partials/toast') -%>
<% }%>
