<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="../images/favicon.png" />

  <%
    let pageTitle = page.replace(
      /\w\S*/g,
      text => text.charAt(0).toUpperCase() + text.substring(1).toLowerCase()
    );

    let title = () => {
      if(page !== "home") {
        if(document.data.title) {
          return `Room 187 | ${document.data.title}`
        } else {
          return `Room 187 | ${pageTitle}`
        }
      } else {
        return `Room 187`
      }
    }
  %>

  <title><%- title() %></title>
  
  <meta name="description" content="<%- meta.data.meta_description %>">
  <meta name="keywords" content="<% meta.data.meta_keywords.forEach((item, i) => {%><%if(i === meta.data.meta_keywords.length - 1) { %><%- item.keyword %><% } else {%><%- item.keyword %>, <%}})%>">

  <meta property="og:url" content="<%- meta.data.website_url %>" />
  <meta property="og:title" content="<%- title() %>" />
  <meta property="og:description" content="<%- meta.data.meta_description %>" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="<%- meta.data.image.url %>"/>

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@<%- meta.data.x_handle %>" />
  <meta name="twitter:title" content="<%- title() %>"/>
  <meta name="twitter:description" content="<%- meta.data.meta_description %>" />
  <meta name="twitter:image" content="<%- meta.data.image.twitter.url %>" />

  <link rel="stylesheet" href="https://use.typekit.net/etq3jip.css">
  <link rel="stylesheet" href="../main.css">
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>