<%
// sort members array in alphabetical order

let compare = (a, b) => {
  let aName = a.data.title
  let bName = b.data.title

  if ( aName < bName ){
    return -1;
  }
  if ( aName > bName ){
    return 1;
  }
  return 0;
}

let team = members.sort(compare) 
%>

<div class="container section--l-m-b">
  <h3 class="type--m type--white type--x-bold type--display type--caps section--l-m-b">
    The Founders
  </h3>
  <div class="grid">
    <% team.forEach((member) => { %>
      <div class="three--columns-slim">
        <a href="<%- member.url %>" class="thumbnail relative avatar__stack">
          <div class="avatar--bio avatar--bio--s relative" style="background-image: url(<%- member.data.avatar.url %>)"></div>
          <div class="avatar--bio avatar--bio--s avatar--highlighted overlay" style="background-image: url(<%- member.data.avatar.highlighted.url %>)"></div>
        </a>
        <div class="avatar--m-t">
          <h4 class="type--s type--bold type--white">
            <%- member.data.title %>
          </h4>
          <span class="type--xs type--bold type--grey-200">
            <%- member.data.role %>
          </span>
        </div>
        
      </div>

    <% }) %>
  </div>
</div>
