<%
// sort members array in alphabetical order

let compare = (a, b) => {
  let aName = a.data.title
  let bName = b.data.title

  if ( aName < bName ){
    return -1;
  }
  if ( aName > bName ){
    return 1;
  }
  return 0;
}

let team = members.sort(compare) 
%>

<%- include('../partials/marquee', { count: null, title: "The Founders" }) -%>

<div class="container section--l-m-b">
  <div class="grid">
    <% team.forEach((member) => { %>
      <div class="three--columns-slim">
        <a href="<%- member.url %>" class="avatar__stack" data-bio-trigger>
          <div class="avatar-stack__thumbnail thumbnail relative" data-tooltip-item>
            <div class="avatar--bio avatar--bio--s relative" style="background-image: url(<%- member.data.avatar.url %>)"></div>
            <div class="avatar--bio avatar--bio--s avatar--highlighted overlay" style="background-image: url(<%- member.data.avatar.highlighted.url %>)"></div>
            <div class="tooltip type--xs type--caps type--white" data-tooltip data-tooltip-text="View bio"></div>
          </div>
          <div class="avatar-stack__info">
            <h4 class="avatar-stack__name type--s type--display">
              <%- member.data.title %>
            </h4>
            <span class="avatar-stack__bio type--xs type--bold">
              <%- member.data.role %>
            </span>
          </div>


        </a>
        
        
        
      </div>

    <% }) %>
  </div>
</div>
