<% let page = pageType %>


<%- include('./partials/head', { page: page } ) -%>

<body <% if (page === "error") { %>class="error"<% } %>>
  <% useZoomTransition = (page === "home") ? true : false %>
  <%- include('./partials/loader', { zoomIn: useZoomTransition } ) -%>
  <% if (page === "error") { %><%- include('./partials/navigation-bar') -%><% } %>
  <main id="main" data-page="<%- page %>" data-scroll-speed="-14" class="main <% if (page !== "error") { %><%- page %><% } %> relative">
    <% if (page !== "error") { %><%- include('./partials/navigation-menu') -%><% } %>
    <div>
      <div <% if (page !== "home" && page !== "error") { %>class="hero--p-t"<% } %> data-scroll-container>
        <% switch(page) {
          
          case 'error' : %>
            <%- include('./pages/error') -%>
            <% break; %>
          <% default : %>
          <%- include('./pages/home') -%>
        <% } %>
      </div>
      
    </div>
    
    
  </main>
  
  <script src="/main.js"></script>
</body>


