<% let page = pageType %>

<%- include('./partials/loader') -%>

<%- include('./partials/head', { page: page } ) -%>

<body>
  <main id="main" data-page="<%- page %>" data-scroll-speed="-14" class="main <%- page %> relative">
    <% if (page !== "error") { %><%- include('./partials/navigation-menu') -%><% } %>
    <div>
      <% if (page !== "error") { %><%- include('./partials/navigation-bar') -%><% } %>
      <div <% if (page !== "home" && page !== "error") { %>class="hero--p-t"<% } %> data-scroll-container>
        <% switch(page) {
          case 'contact' : %>
            <%- include('./pages/contact') %>
            <%  break; %>
          <% case 'about' : %>
            <%- include('./pages/about') -%>
            <% break; %>
          <% case 'error' : %>
            <%- include('./pages/error') -%>
            <% break; %>
          <% default : %>
          <%- include('./pages/home') -%>
        <% } %>
      </div>
      <% if (page !== "home") { %>
        <%- include('./partials/footer') -%>
      <% } %>
    </div>
    
    
  </main>
  
  <script src="/main.js"></script>
</body>


