<% 
let section = document.data.section
let heroImage = document.data.hero_image 
let sideImage = document.data.side_image 
%>

<section class="hero hero--sm" data-hero data-image-hero="small" data-hero-content>
  <div class="relative flex section--s-p-b height">
    <div class="overlay no-overflow">
      <div class="hero__bg overlay" data-bg style="background-image: url('<%- document.data.hero_image.url %>')"></div>
    </div>
    <div class="hero__g-overlay overlay"></div>
    <div class="container grid--all hero__grid relative" data-hero-content>
      
      <div class="hero__title flex flex--end text-right">
        <h1 class="type--xl type--display type--caps type--x-bold type--outline-white margin--left-auto" data-main-title data-split-text>
          <%- document.data.title %>
        </h1>      
      </div>
    </div>
  </div>
</section>
<div class="scroll-over section--l-p-t bg--black">
  <section class="section--l-m-b">
    <div class="container grid">
      <% if(section !== null ) { %>
        <div class="column--centered-xl">
          <% section.forEach((s) => { %>
          <p class="type--xs type--white" data-split-text="scroll">
            <%- s.paragraph %>
          </p>
          <% }) %>
        </div>
      <% } %>
    </div>
  </section>

  <%- include('../SliceZone.ejs', { SliceZone: document.data.body }) %>

  <%- include('../partials/team-members') -%>
  <%- include('../partials/stats') -%>
  <%- include('../partials/cta-block') -%>

  
</div>
<div class="fixed overflow-scroll bg--black overlay overlay--reveal flex--middle z-index--5" data-bio-overlay-modal>
  <%- include('../partials/close-button') -%>
  <div class="hero--p-t overflow-scroll" data-bio-overlay-content></div>
</div>