<% 
  let content = document.data.content 
  let thumbnail = document.data.collage
%>
<section class="section--m-m-b" data-hero>
  <div class="container grid">
    <div class="column--full-width contact__heading">
      <h1 class="type--special type--white type--display type--x-bold type--s-margin type--caps" data-split-text>
        <%- document.data.title %>
      </h1>
    </div>
  </div>
  
</section>

<% if(content !== null) { %>
<section class="contact__content">
  <div class="container grid">
    <% if(thumbnail !== null) { %>
    <div class="two--columns">
      <div class="collage relative">
        <% thumbnail.forEach((img) => { %>
          <div class="thumbnail thumbnail--polaroid thumbnail-polaroid--sm">
            <img src="<%- img.image.url %>" alt="<%- img.image.alt %>">
          </div>
  
        <% }) %>
      </div>
    </div>
    <% } %>
    <div class="two--columns">
      <% content.forEach((block, i) => { %>
        <div class="section--m-m-b">
          
          <h3 class="type--s type--x-bold type--white type--caps type--display type--l-margin">
            <%- block.content_title %>
          </h3>
          <p class="type--xs type--white">
            <%- block.content_paragraph %>
          </p>
          
        </div>
      
      <% }) %>
      <div>
        <a href="mailto:<%- siteDetails.data.email_address %>" target="_blank" class="link link--cta type--s type--white">
          <%- siteDetails.data.email_address %>
        </a>
      </div>
    </div>
    
    
  </div>

</section>
<% } %>
<section class="section--l-m-b">
  <div class="container grid">
    
  </div>
</section>
