<%
  const slices = document.data.body || []
  let miniMapItems = []
  console.log(document.data.body[2].primary)
  const isEmptyMedia = (field) =>
    !field || Object.keys(field).length === 0 ||
    (field.link_type === 'Media' && !field.url)

  const isGalleryEmpty = slices.length === 0 || slices.every(slice => {
    const { slice_type, primary } = slice
    if (slice_type === 'image_gallery_item') {
      return isEmptyMedia(primary.slideshow_image)
    }
    if (slice_type === 'video_gallery_item') {
      return isEmptyMedia(primary.video_file)
    }
    return true
  })
%>

<div class="container <% if(!isGalleryEmpty){%>gallery-grid<%} else {%>grid gallery__no-grid<%}%>" data-gallery>
  <% if (!isGalleryEmpty) { %>

    <% slices.forEach((slice, index) => {
      switch (slice.slice_type) {
        case 'image_gallery_item': 
        %><%- include('../slices/ImageGalleryItem.ejs', { slice, slice_index: index, miniMapItems }) %>
        <% break;

        case 'video_gallery_item': %>
          <%- include('../slices/VideoGalleryItem.ejs', { slice, slice_index: index, miniMapItems }) %>
        <% break;
        }
      }) %>

    <div class="fixed cannot-interact bg--black overlay overlay--reveal flex--middle z-index--5" data-slideshow data-lenis-prevent>
      <%- include('../partials/close-button') -%>
      <div class="slideshow__counter type--xs type--white">
        <span data-slideshow-index></span>&nbsp;of&nbsp;<span><%- String(miniMapItems.length).padStart(2, '0') %></span>
      </div>
      <div class="slideshow__media" data-slideshow-container></div>

      <div class="minimap" data-mini-map>
        <div class="minimap__indicator" data-mini-map-indicator></div>
        <div class="flex flex--align-bottom">
          <% miniMapItems.forEach((item, i) => { %>
            <% if(item.type === "video") { %>
              <img class="minimap__item" src="<%- item.image.url %>" 
                alt="<%- item.alt %>"
                data-gallery-id="<%- item.id %>"
                data-gallery-src="<%- item.slideshowUrl %>" 
                data-mini-map-item />
            <% } else { %>
              
              <img class="minimap__item"
                src="<%- item.image.url %>" 
                alt="<%- item.image.alt %>" 
                data-gallery-id="<%- item.id %>"
                data-gallery-src="<%- item.slideshowUrl %>" 
                data-mini-map-item />
                
            <% } %>
          <% })%>
        </div>
      </div>
      
      <div class="slideshow__controls slideshow__prev thumbnail__inline" data-slideshow-prev>
        <%- include('../partials/svg/carousel-button') -%>
      </div>
      <div class="slideshow__controls slideshow__next thumbnail__inline" data-slideshow-next>
        <%- include('../partials/svg/carousel-button') -%>
      </div>
    </div>

  <%} else { %>
    <div class="column--centered text-center section--l-m-b" data-hero>
      <h1 class="type--white type--caps type--display type--l type--x-bold type--l-margin" data-split-text>
        Nothing Here&hellip;Yet!</span>
      </h1>
      <p class="type--xs type--white type--max-width" data-split-text>New drops, dope visuals, and all the good stuff you love are on the way. Check back soon, it&apos;s gonna be worth the wait!</p>
      <div class="button--m-t" data-misc>
        <%- include('../partials/button', { buttonText: "Back to the room", link: "/", link_target: false, large: true, primaryBtn: true, fullWidth: false, pageTransition: true }) -%>
      </div>
    </div>
    
  <% } %>
  
</div>

