<% 

let gallery = document.data.gallery
const checkEmptyItem = (item) =>
(!item.media || Object.keys(item.media).length === 1 && item.media.link_type === 'Media')
    
const isGalleryEmpty = gallery.length > 0 && gallery.every(checkEmptyItem)
const miniMapItems = []

%>

<div class="container section--l-m-b <% if(!isGalleryEmpty){%>gallery-grid<%} else {%>grid<%}%>" data-gallery>
  <% if(gallery.length !== 0 && !isGalleryEmpty) { %>
    
    <% gallery.forEach((item, i) => { %>
      <% 
        let isItemEmpty = checkEmptyItem(item) 
        let isSlideShowEmpty = Object.keys(item.slideshow_image).length === 0
      %>
      <% if(!isItemEmpty) { %>
        <% 
        let currentIndex = String(i + 1).padStart(3, '0')
        miniMapItems.push(item) 
        
        %>

        <% if(item.media.kind === "file") { %>
          <div class="gallery-grid__item">
            <div class="thumbnail" data-index="<%- currentIndex %>" data-tooltip-item>
              <video data-gallery-item="video" data-gallery-id="<%- item.media.id %>" autoplay playsinline webkit-playsinline muted loop>
                <source src="<%- item.media.url %>" type="video/mp4" />
              </video>
              <div class="tooltip type--xxs type--caps type--white" data-tooltip data-tooltip-text="<%- `${currentIndex} ${item.media.alt}` %>"></div>
            </div>
          </div>
        <% } else { %>
          <% if(!isSlideShowEmpty) { %>
            <div class="gallery-grid__item">
              <div class="thumbnail" data-index="<%- (i + 1) %>" data-tooltip-item>
                <img src="<%- item.media.url %>" alt="<%- item.media.alt %>" class="thumbnail" data-gallery-item="image" data-gallery-src="<%- item.slideshow_image.url %>" data-gallery-id="<%- item.media.id %>">
                <div class="tooltip type--xxs type--caps type--white no-wrap" data-tooltip data-tooltip-text="<%- `${currentIndex} ${item.media.alt}` %>"></div>
              </div>
            </div>
          <% } %>
        <% } %>
        
      <% } %>

    <% }) %>

    <div class="fixed cannot-interact bg--black overlay overlay--reveal flex--middle z-index--5" data-slideshow data-lenis-prevent>
      <%- include('../partials/close-button') -%>
      <div class="slideshow__counter type--xs type--white">
        <span data-slideshow-index></span>&nbsp;of&nbsp;<span><%- gallery.length %></span>
      </div>
      <div class="slideshow__media" data-slideshow-container></div>

      <div class="minimap" data-mini-map>
        <div class="minimap__indicator" data-mini-map-indicator></div>
        <div class="flex flex--align-bottom">
          <% miniMapItems.forEach((item, i) => { %>
            <% if(item.media.kind === "file") { %>
              
                <video class="minimap__item" data-gallery-id="<%- item.media.id %>" data-mini-map-item muted>
                  <source src="<%- item.media.url %>" type="video/mp4" />
                </video>
              
            <% } else { %>
              
              <img src="<%- item.media.url %>" alt="<%- item.media.alt %>" class="minimap__item" data-gallery-id="<%- item.media.id %>" data-mini-map-item>
              
            <% } %>
          <% })%>
        </div>
      </div>
      
      <div class="slideshow__controls slideshow__prev thumbnail__inline" data-slideshow-prev>
        <%- include('../partials/svg/carousel-button') -%>
      </div>
      <div class="slideshow__controls slideshow__next thumbnail__inline" data-slideshow-next>
        <%- include('../partials/svg/carousel-button') -%>
      </div>
    </div>

  <%} else { %>
    <div class="column--centered text-center section--l-m-b" data-hero>
      <h1 class="type--white type--caps type--display type--xl type--x-bold type--l-margin" data-split-text>
        Nothing Here&hellip;&nbsp;Yet!</span>
      </h1>
      <p class="type--xs type--white" data-split-text>New drops, dope visuals, and all the good stuff you love are on the way. Check back soon, it&apos;s gonna be worth the wait!</p>
      <div class="button--m-t" data-misc>
        <%- include('../partials/button', { buttonText: "Back to the room", link: "/", link_target: false, large: true, primaryBtn: true, fullWidth: false }) -%>
      </div>
    </div>
    
  <% } %>
  
</div>

