<% 
  let title = document.data.hero_title
  let titleArr = title.split(" ")
%>
<section class="hero flex" data-hero data-hero-content>
  <div class="relative flex section--s-p-b">
    <div class="overlay no-overflow">
      <div class="hero__bg overlay" data-bg data-home-bg style="background-image: url('<%- document.data.hero_image.url %>')"></div>
    </div>
    <div class="hero__g-overlay overlay"></div>
    <div class="container grid--all h-hero__grid relative" data-hero-content>
      <div class="h-hero__intro">
        <span class="type--xs type--caps type--bold type--white type--display" data-split-text>
          <%- siteDetails.data.brand_description %>
        </span>
      </div>
      <div class="h-hero__alt">
        <span class="inline-block type--display type--m type--white" data-split-text>
          <%- document.data.alt_text %>
        </span>
      </div>
      <div class="h-hero__title text-right">
        <h1 class="type--xl type--display type--caps type--x-bold type--outline-white" data-main-title data-split-text>
          <%- document.data.hero_title %>
        </h1>      
      </div>

      <div class="h-hero__play" data-misc>
        <div class="play--button thumbnail" data-play="intro-video" data-open-video-overlay>
          <%- include('../partials/play-button') -%>
        </div>
      </div>

      <div class="h-hero__cta button--m-t" data-misc>
        <%- include('../partials/button', { buttonText: siteDetails.data.main_cta_text, link: siteDetails.data.main_cta_link.url, link_target: true, large: true, primaryBtn: true, fullWidth: true } ) -%>
      </div>
      
    </div>
  </div>
  
</section>

<div class="video__overlay fixed overlay" data-video-overlay="intro-video" data-lenis-prevent>
  <div class="overlay--reveal bg--black z-index--1" data-overlay></div>
  <div class="close flex flex--middle" data-close>
    <div class="inline-block">
      <%- include('../partials/svg/icons/24/close', { cssClass: 'bg-svg--white' }) -%>
    </div>
    <span class="type--xs type--white type--caps type--bold">Close</span>
  </div>
  
  <div class="video__wrapper z-index--2">
    <video class="video--bg" controls data-video="intro-video">
      <source src="<%- document.data.hero_background_video.url %>" type="video/mp4">
    </video>
  </div>
  
</div>
<%- include('../partials/home-body') -%>


