<% 
  let title = document.data.hero_title
  let titleArr = title.split(" ")
%>
<section class="hero flex">
  <div class="relative flex section--s-p-b">
    <div class="hero__bg overlay" data-bg style="background-image: url('<%- document.data.hero_image.url %>')"></div>
    <div class="hero__g-overlay overlay"></div>
    <div class="container grid--all h-hero__grid">
      <div class="h-hero__intro">
        <span class="type--xs type--caps type--bold type--white type--display" data-split-text="line-break">
          <%- siteDetails.data.brand_description %>
        </span>
      </div>
      <div class="h-hero__alt">
        <span class="inline-block type--display type--m type--white" data-split-text="line-break">
          <%- document.data.alt_text %>
        </span>
      </div>
      <div class="h-hero__title text-right">
        <h1 class="type--xl type--display type--caps type--x-bold type--outline-white" data-main-title data-split-text="line-break">
          <%- document.data.hero_title %>
        </h1>      
      </div>

      <div class="play--button thumbnail h-hero__play" data-play>
        <%- include('../partials/play-button') -%>
      </div>

      <div class="h-hero__cta button--m-t">
        <a href="<%- siteDetails.data.main_cta_link.url %>" class="button button--l button--primary block--full-width">
          <%- siteDetails.data.main_cta_text %>
        </a>
      </div>
      
    </div>
  </div>
  
</section>
<div class="scroll-over section--l-p-t bg--black" data-scroll-section>
  <%- include('../SliceZone.ejs', { SliceZone: document.data.body, testimonials: testimonials }) %>
  <%- include('../partials/stats') -%>
  <%- include('../partials/cta-block') -%>
  <%- include('../partials/footer') -%>
</div>
