<%
  let memberName = document.data.title 
  let memberNameArr = memberName.split(" ")
  let addPadding = true
%>

<div class="container grid grid--all section--l-m-b" data-hero>
  <div class="bio__header column--header">
    <h1 class="type--l type--x-bold type--display type--caps type--white" data-main-title data-split-text>
      <% memberNameArr.forEach((title) => { %><span class="no-wrap--and-break overflow-clip-y"><span class="inline-block" data-text-reveal><%- title %></span></span><% }) %>
    </h1>
  </div>
  <div class="bio__image" data-bio-image data-alt-hero-img>
    <div class="avatar--bio avatar--bio--l thumbnail--polaroid rotate--small" style="background-image: url('<%- document.data.avatar.url %>')"></div>
  </div>

  <div class="bio__role">
    <div class="inline-block no-overflow">
      <span class="inline-block type--xs type--bold type--white type--caps" data-split-text>
        <%- document.data.role %>
      </span>
    </div>
  </div>

  <div class="bio__content column--content flex flex--column flex--space-btwn">
    <p class="type--white type--xs" data-split-text="scroll">
      <%- document.data.bio %>
    </p>
    <div class="flex gap--s">
      <% document.data.social_links.forEach((social)=> { %>
        <a href="<%- social.link.url %>" class="thumbnail" target="_blank">
          <% 
            let channelName = social.platform.toLowerCase() 
            let iconPath = `../partials/svg/socials/${channelName}`
          %>
          <%- include(iconPath) -%>
        </a>
      
      <% }) %>
    </div>
  </div>
  
</div>